<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cm.rb.mondo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0222F611-7DFD-45C7-8FCA-BAF02C14599C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>341F4ED3-2295-4F1C-8C0D-27CFFA638468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>341F4ED3-2295-4F1C-8C0D-27CFFA638468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>616D479C-C3A2-48DE-89D7-78EE870CA9A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Richard Burton</string>
	<key>description</key>
	<string>Interact with your Mondo account via their API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mondo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mondo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>616D479C-C3A2-48DE-89D7-78EE870CA9A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mondo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>source "/Users/richardburton/.bashrc"
ruby mondo.rb {query}
</string>
				<key>title</key>
				<string>Mondo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0222F611-7DFD-45C7-8FCA-BAF02C14599C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source "/Users/richardburton/.bashrc"
ruby actions.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>341F4ED3-2295-4F1C-8C0D-27CFFA638468</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mondo unique</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>source "/Users/richardburton/.bashrc"
ruby mondounique.rb
</string>
				<key>title</key>
				<string>Mondo Unique Statement</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>00A60672-D891-4293-8021-5F2DA09CBF63</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00A60672-D891-4293-8021-5F2DA09CBF63</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>0222F611-7DFD-45C7-8FCA-BAF02C14599C</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>341F4ED3-2295-4F1C-8C0D-27CFFA638468</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>616D479C-C3A2-48DE-89D7-78EE870CA9A8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://rb.cm</string>
</dict>
</plist>
